<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>listViewObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EAC6E7E1CD1570400913493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC6E971CD1570400913493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC6EA21CD1570400913493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
